---
layout: home
title: Home
pagination: 
  enabled: true
  category: papers
  per_page: 5
---
  
  <a name="now"></a>
  {% markdown now.md %}

  
  <h2>Recent publications</h2>
  <p>For each paper below, I also include some comments, and answers to frequently asked questions. You can also see this whole list on <a href="{{site.baseurl}}all_papers">one page</a>.</p>
  <div class="pagination">
    {% for post in paginator.posts %}
    <div class="pagination-item">
      <a href="{{site.baseurl}}{{ post.url }}" >
        {{ post.title }}
      </a>
      {%if post.award%}<br/><small>{{post.award}}</small>{%endif%}
      <div class="post-meta">
          <span class="post-date">{{ post.venue }}</span>
          <small>{{post.authors}}</small>
      </div>  
        <br/>
        <a href="{{ site.baseurl }}assets/pdfs/{{post.pdf}}">PDF</a> {%if post.project_url%} | <a href="{{post.project_url}}">Project</a> {% endif %}
    </div>
    {% endfor %}
  </div>

  <div class="pagination">
      {% if paginator.total_pages > 1 %}
      <ul class="pager">
          {% if paginator.previous_page %}
          <li class="previous">
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer papers  &rarr;</a>
          </li>
          {% endif %}
          {% if paginator.next_page %}
          <li class="next">
              <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Older papers</a>
          </li>
          {% endif %}
      </ul>
      {% endif %}    
  </div>


  <a name="research"></a>
  <!--{% markdown manifesto.md %}-->

  <a name="hi"></a>
  {% markdown hi.md%}

  {% markdown etc.md %}
