---
layout: default
title: Home
---

{% markdown about.md  %}


  <h1>Publications</h1>
    <div class="posts">
      {% for post in paginator.posts %}
      <div class="publication">
        <h2 class="pub-title">
          <img src="{{ site.url }}/assets/logos/{%if post.logo%}{{post.logo}}{%else%}{{'FFFFFF-1.png'}}{%endif%}" class="icon"/>
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
          {%if post.award%}<small>{{post.award}}</small>{%endif%}
          <br/>
        <cite>{{post.authors}}</cite>
</h2>
        <span class="post-date">{{ post.venue }}</span>
        <a href="{{site.url}}/assests/pdfs/{{post.pdf}}">PDF</a> {%if post.project_url%} | <a href="{{post.project_url}}">Project</a> {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="message">
      More papers being added. Please see my <a href="https://scholar.google.com/citations?user=ZDatV6MAAAAJ&hl=en">Google Scholar</a> profile in the meanwhile.
    </div>
    <div class="pagination">
      {% if paginator.next_page %}
        <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
      {% else %}
        <span class="pagination-item older">Older</span>
      {% endif %}
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
        {% else %}
          <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
        {% endif %}
      {% else %}
        <span class="pagination-item newer">Newer</span>
      {% endif %}
    </div>
