<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Reaching me</h4>

          <div class="ui list">
            <div class="item">
              <i class="marker icon"></i>
              <div class="content">
                Newell-Simon Hall, 2504D
              </div>
            </div>
            <div class="item">
              <i class="call icon"></i>
              <div class="content">
                (412) 268-5831
              </div>
            </div>
            <div class="item">
              <i class="mail icon"></i>
              <div class="content">
                <a href="mailto:chinmayk@cs.cmu.edu">chinmayk@cs.cmu.edu</a>
              </div>
            </div>
            <div class="item">
              <i class="clock icon"></i>
              <div class="content">
                <strong>Office hours</strong> for Summer 2017, by appointment only. 
              </div>
            </div>
          </div>
        </div>
        <div class="ten wide column">
          <h4 class="ui inverted header"><i class="plane icon"></i> Travel</h4>
          <div class="ui list">
            <div class="item">
              <strong>03 Sep 2016</strong> <em>New York, NY</em> <br/>
              CSCW PC meeting
            </div>
            <div class="item">
              <strong>17-18 Nov 2016</strong> <em>Princeton, NJ</em> <br/>
              Seminar speaker
            </div>
            <div class="item">
              <strong>14-16 Dec 2016</strong> <em>Mountain View, CA</em> <br/>
              Learning@Scale PC meeting
            </div>
          </div>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <img src="{{ site.baseurl }}/assets/logos/CMU_logo_horiz_red.png" class="ui centered small image">
    </div>
  </div>
