<div class="ui borderless main menu">
  <div class="ui text container">
    <a href="{{ site.baseurl }}#now" class="header item">
      Now
    </a>
    <a href="{{ site.baseurl }}#teaching" class="item">Teaching</a>
    <!--<a href="{{ site.baseurl }}#research" class="item">Research/Manifesto</a>-->
    <!--<a href="{{ site.baseurl }}#" class="item">Friends &amp; collaborators</a>-->
    <a href="{{ site.baseurl }}#hi" class="item">Say hi</a>
    <a href="{{ site.baseurl }}#etc" class="item">
      Etc.
    </a>
  </div>
</div>
<div class="ui divider"></div>
